<header class="header">
	<div class="container-wrapper">
		<div class="container container--has-visible-overflow">
      <div class="header--burger mobile-only" id="header-burger">
        <div class="header--burger--part"></div>
        <div class="header--burger--part"></div>
        <div class="header--burger--part"></div>
      </div>
      <div class="header--background mobile-only"></div>
			<div class="header--wrapper">
				<div class="header--navigation">
					<div class="navigation">
						{% for navigation in navigations %}
							{% if navigation.active == 1 and (navigation.rank == null or (user_data.rank and user_data.rank >= navigation.rank)) %}
								<div class="navigation--entry">
									<a href="{{ navigation.path }}">
										{{ navigation.name|trans }}</a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<div class="header--user">
					<div class="user">
						<div class="user--name">
							{% if user_data.name %}
								{{ user_data.name }}
							{% else %}
								{{ 'user.not_logged_in'|trans }}
							{% endif %}
						</div>

						<div class="user--image">
							{% if user_data.profile_picture %}
								<img src="{{ user_data.profile_picture }}&s=50">
							{% endif %}
						</div>

						<div class="user--dropdown">
							<ul>
								{% if user_data.rank or (user_data.rank == 0 and user_data.rank != NULL) %}
									<li>
										<a href="/profile/{{ user_data.name }}">{{ 'profile.profile'|trans }}</a>
									</li>

									{% if user_data.rank > 0 %}
										<li>
											<a href="/admin">{{ 'admin.backend'|trans }}</a>
										</li>
									{% endif %}

									<li>
										<a id="logout" href="#">{{ 'login.logout'|trans }}</a>
									</li>
								{% else %}
									<li>
										<a href="/login">{{ 'login.login'|trans }}</a>
									</li>
									<li>
										<a href="/register">{{ 'login.register'|trans }}</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
