{% extends "/layout/base.twig" %}

{% block title %}{{ projectinfo.name|trans }} - xNocken{% endblock %}

{% block content %}
<div class="content-wrapper">
	<div class="container">
		<div class="feedback" project-id="{{ projectinfo.id }}">
			<div class="project">
				<div class="project--header">
					<h1 class="project--header--title">{{ projectinfo.name|trans }}</h1>
					<p class="project--header--desc">{{ projectinfo.description|trans }}</p>
				</div>

        <div class="project--links">
          {{ 'feedback.links'|trans({
            ':github:': projectinfo.githublink,
            ':url:': projectinfo.path,
          })|raw }}
				</div>
			</div>

			<h2 class="project--headline">Feedback</h2>

			<div class="feedback">
				<div class="feedback--leave">
					<h3 class="feedback--headline">{{ "feedback.leave_feedback"|trans }}</h3>
					<div id="feedback-like" class="feedback--leave--button feedback--leave--button__like">{% include "./svg/thumbs-up-regular.svg" %}</div>
					<div id="feedback-dislike" class="feedback--leave--button feedback--leave--button__dislike">{% include "./svg/thumbs-down-regular.svg" %}</div>
					<textarea name="feedback-message" id="feedback-message" class="feedback--leave--message" rows="5"></textarea>
          <input type="submit" value="Send Feedback" id="feedback-submit">
				</div>

				<div class="feedback--wrapper">
					<h3 class="feedback--headline">{{ "feedback.read_feedback"|trans }}</h3>
					{% if project_feedback %}
						{% for feedback in project_feedback %}
							<div class="feedback--entry" feedback-id="{{ feedback.id }}">
								<div
									class="feedback--entry--user">
									{# TODO: add somthing for banned users (feedback.banned) #}
									<img src="{{ feedback.profile_picture }}" alt="{{ feedback.username }}'s profile picture" class="feedback--entry--user--picture">
									<p class="feedback--entry--user--name feedback--entry--user--name__{{ feedback.rank }}">{{ feedback.username }}</p>
								</div>

								<div class="feedback--entry--feedback">
									<div class="feedback--entry--feedback--message">{{ feedback.message }}</div>
									<div class="feedback--entry--feedback--reaction feedback--leave--button__{% if feedback.positive == 1 %}like{% else %}dislike{% endif %} clicked">
										{% if feedback.positive == 1 %}
											{% include "./svg/thumbs-up-regular.svg" %}
										{% else %}
											{% include "./svg/thumbs-down-regular.svg" %}
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					{% else %}
						{{ 'feedback.no_feedback'|trans }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
