{% extends "layout/base.twig" %}

{% block title %}{{ 'login.login'|trans }} - xNocken{% endblock %}

{% block content %}
	<form class="login" id="login-form">
		{% if is_logged_in %}
			<script>
				window.location.href = '/';
			</script>
		{% endif %}

		<h1>{{ 'login.login'|trans }}</h1>
		<p class="login--status" id="login-status"></p>
		<input class="login--username" tabindex="1" name="user" type="text" placeholder="{{ 'login.username'|trans }}"><br>
		<input class="login--password" name="pw" tabindex="2" type="password" placeholder="{{ 'login.password'|trans }}"><br>
		<input class="login--submit" tabindex="0" type="submit"><br>
		<a href="/register/">{{ 'login.need_account'|trans }}</a>
	</form>
{% endblock %}
