{% extends "/layout/base.twig" %}

{% block title %}{{ user.name }} - {{ 'profile.profile'|trans }} - xNocken{% endblock %}

{% block content %}
{% if user.lowername == current_user %}
  {% set isOwnPage = true %}
{% else %}
  {% set isOwnPage = false %}
{% endif %}
{% if user.discordName != '#' %}
  {% set discord = true %}
{% endif %}
<div class="content-wrapper">
	<div class="container">
		<div class="profile">
			<div class="profile--info">
        		<p class="profile--info--status" id="profile-status"></p>
				<div class="profile--info--image">
					<img src="{{ user.profile_picture }}" alt="{{ user.name }}'s profilepicture" id="profile-picture">
				</div>

				<h2 contenteditable="{% if isOwnPage %}true{% else %}false{% endif %}" id="profile-name" class="profile--info--name profile--info--name__{{ user.rank }}">{{ user.name }}</h2>
        {% if discord %}<p>Discord: {{ user.discordName }}</p>{% if isOwnPage %}<a class="button" id="discord-unlink">Unlink</a>{% endif %}{% endif %}
				{% if isOwnPage %}
					<textarea class="profile--info--about--edit" id="profile-about">{% if user.about %}{{ user.about }}{% else %}{{ 'profile.edit_about'|trans }}{% endif %}</textarea>
				{% else %}
					<div class="profile--info--about">
						{% if user.about %}
							{{ user.about|striptags('<div>')|removeAttr|raw }}
						{% else %}
							{{ 'profile.no_about'|trans }}
						{% endif %}
					</div>
				{% endif %}
        	<p class="profile--info--about--charcount" id="profile-charcount"></p>
		</div>
	</div>
</div>
{% endblock %}
