{% extends "/layout/base.twig" %}

{% block title %}{{ 'projects.title'|trans }} - xNocken{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="container">
    <div class="project-list">
      <h1>{{ 'projects.title'|trans }}</h1>
      <div class="project-list--wrapper">
        {% for project in projects %}
          {% if project.rank <= myrank %}
            <div class="project-list--wrapper--entry">
              <div class="project-list--wrapper--entry--infos">
                <h2 class="project-list--wrapper--entry--infos--title">{{ project.name }}</h2>
                <p class="project-list--wrapper--entry--infos--description">{{ project.description }}</p>
              </div>

              <div class="project-list--wrapper--entry--ratings">
                <div class="project-list--wrapper--entry--ratings--ratings">
                  <p class="project-list--wrapper--entry--ratings--ratings--likes">{{ project.likes }}{% include "./svg/thumbs-up-regular.svg" %}</p>
                  <p class="project-list--wrapper--entry--ratings--ratings--dislikes">{{ project.dislikes }}{% include "./svg/thumbs-down-regular.svg" %}</p>
                </div>

                <a href="/projects/{{ project.id }}" class="project-list--wrapper--entry--ratings--feedback">{{ 'project.leave_feedback'|trans }}</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
