{% extends "layout/base.twig" %}

{% block title %}{{ 'login.register'|trans }} - xNocken{% endblock %}

{% block content %}
<form class="register" id="register-form">
	{% if is_logged_in %}
		<script>
			window.location.href = '/';
		</script>
	{% endif %}
	<h1>{{ 'login.register'|trans }}</h1>
	<p class="register--status" id="register-status"></p>
	<input class="register--username" tabindex="1" name="user" type="text" placeholder="{{ 'login.username'|trans }}"><br>
	<input class="register--password" name="pw" tabindex="2" type="password" placeholder="{{ 'login.password'|trans }}"><br>
	<input class="register--password" name="pw2" tabindex="2" type="password" placeholder="{{ 'login.repeat_password'|trans }}"><br>
	<input class="register--submit" tabindex="0" type="submit"><br>
	<a href="/login/">{{ 'login.has_account'|trans }}</a>
</form>
{% endblock %}
