<div class="container">
	<h3>Recent Uploads</h3>
	<div class="videos grid">
		{% if videos %}
			{% for video in videos %}
				<div class="videos--video col-6 col-sm-6 col-md-4 col-lg-2">
					<a class="videos--video--link" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v={{ video.video_id }}">
						<div class="videos--video--image--wrapper">
							<img class="videos--video--image" src="{{ video.image }}">
							<p class="videos--video--image--live videos--video--image--live__{{ video.live_broadcast_content }}">
								LIVE
							</p>
						</div>
						<p class="videos--video--date">
							{{ video.published_at }}
						</p>
						<p class="videos--video--title" title="{{ video.title }}">{{ video.title }}</p>
					</a>
				</div>
			{% endfor %}
		{% else %}
			<p>Error while loading videos</p>
		{% endif %}
	</div>
</div>
