{% extends "layout/base.twig" %}

{% block header %}{% include "admin/adminheader.twig" %}{% endblock %}
{% block title %}Users - Admin - xNocken{% endblock %}

{% block content %}

<div class="container">
	<div class="users">
  <p id="status"></p>
		<table class="users--table">
			<tr class="users--table--row">
				<th class="users--table--row--field">Username</th>
				<th class="users--table--row--field">Rank</th>
				<th class="users--table--row--field">Banned</th>
				<th class="users--table--row--field">Reason</th>
				<th class="users--table--row--field">Profile picture</th>
			</tr>
			{% for user in users %}
				<tr class="users--table--row" data-username="{{ user.username }}">
					<th class="users--table--row--field">{{ user.username }}</th>
					<th class="users--table--row--field">
						<select class="users--table--row--field--select users-select" data-selected="{{ user.rank }}" {% if user.namelower == username %} disabled {% endif %}>
							<option value="0">User</option>
							<option value="1">Moderator</option>
							<option value="2">Admin</option>
						</select>
					</th>
					<th class="users--table--row--field">
            {% if user.banned == 0 %}
                <a data-active="0" class="users--button users--button__delete users-ban-button" {% if user.namelower == username %} disabled {% endif %}>Ban</a>
            {% else %}
                <a data-active="1" class="users--button users--button__add users-ban-button">Unban</a>
            {% endif %}
          </th>
					<th class="users--table--row--field">{% if user.banned == 1 %}{{ user.reason }}{% else %}Not Banned{% endif %}</th>
					<th class="users--table--row--field"><img src="{{ user.profilePicture }}"></th>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}
